/* Created by: njoku christopher
* Created on: Feb 2024
* This file contains the CSS for the 'style.html' webpage
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: navy ;
}

h1 {
  background-color: rgb(236, 236, 16);
  color: hsl(114, 77%, 44%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: white;
}